pkgbase = uvr
	pkgdesc = An extremely fast R package and project manager
	pkgver = 0.4.5
	pkgrel = 1
	url = https://github.com/nbafrank/uvr
	arch = x86_64
	arch = aarch64
	license = MIT
	makedepends = rust
	depends = libgcc
	depends = glibc
	depends = bzip2
	depends = xz
	conflicts = uvr-bin
	options = !lto
	options = !debug
	source = uvr-0.4.5.tar.gz::https://github.com/nbafrank/uvr/archive/v0.4.5.tar.gz
	sha512sums = 8d6d6afbe62bf0eddf498912c3fb109a63ac36410683634b92a70741c9336a49352ae8c7016b7d785bcaf0d701afe96e734af2e0eedd8edc1f089cfd3ab08971

pkgname = uvr
