pkgbase = arity
	pkgdesc = Language server, formatter, and linter for R
	pkgver = 0.14.0
	pkgrel = 1
	url = https://github.com/jolars/arity
	arch = x86_64
	arch = aarch64
	license = MIT
	makedepends = rust
	depends = libgcc
	depends = glibc
	conflicts = arity-bin
	options = !lto
	options = !debug
	source = arity-0.14.0.tar.gz::https://github.com/jolars/arity/archive/v0.14.0.tar.gz
	sha512sums = 046ef2d387ffa94ac75110d23d916672f2fe46f41a5e26b4fef4cabcc50facffeae76a5d4f32aa4500055b3361ae58eeecc9c120cf68bd9587b6361fb51457e9

pkgname = arity
