pkgbase = arf
	pkgdesc = A modern R console
	pkgver = 0.4.5
	pkgrel = 1
	url = https://github.com/eitsupi/arf
	arch = x86_64
	arch = aarch64
	license = MIT
	makedepends = rust
	depends = libgcc
	depends = glibc
	conflicts = arf-bin
	options = !lto
	options = !debug
	source = arf-0.4.5.tar.gz::https://github.com/eitsupi/arf/archive/v0.4.5.tar.gz
	sha512sums = b8c002e01735b7ba74d6125f0b7201811fde9dec0583bb243f1637c93d9b8c976ae98047a7b3129f8dbc19d43d46d4f3ef4eae37efa14ebdc09b33d1e120b8a5

pkgname = arf
