pkgbase = q2
	pkgdesc = Quarto 2 [experimental]
	pkgver = 0.12.0
	pkgrel = 1
	url = https://github.com/quarto-dev/q2
	arch = x86_64
	arch = aarch64
	license = MIT
	makedepends = cmake
	makedepends = libstdc++
	makedepends = openssl
	makedepends = rust
	depends = glibc
	depends = libgcc
	conflicts = q2-bin
	options = !lto
	options = !debug
	source = q2-0.12.0.tar.gz::https://github.com/quarto-dev/q2/archive/v0.12.0.tar.gz
	sha512sums = 9c5d3ca483ab3c0dade63589667daa68122656590e003ea6039989bffab0b97309f229409e1b13af0defe251f10cc8ad09a367f3a65c9880c62881f64fe636a9

pkgname = q2
