pkgbase = q2
	pkgdesc = Quarto 2 [experimental]
	pkgver = 0.11.0
	pkgrel = 1
	url = https://github.com/quarto-dev/q2
	arch = x86_64
	arch = aarch64
	license = MIT
	makedepends = cmake
	makedepends = libstdc++
	makedepends = openssl
	makedepends = rust
	depends = glibc
	depends = libgcc
	conflicts = q2-bin
	options = !lto
	options = !debug
	source = q2-0.11.0.tar.gz::https://github.com/quarto-dev/q2/archive/v0.11.0.tar.gz
	sha512sums = 443b953f84e8936568c9863a29cf53c0dae047181a9a09f868007d011acd75c9861c9e33f5b8ca794701334fec510c3e6d5fd96a04d8cd2c74f503ccf3e2372d

pkgname = q2
